/CaixaDialogo/nbproject/private/
/CaixaDialogo/build/
/ExCaixaDialogo/nbproject/private/
/ExCaixaDialogo/build/
/ExCaixaDialogo2/nbproject/private/
/ExCaixaDialogo2/build/
/POO/nbproject/private/
/POO/build/
/HelloWorld/nbproject/private/
/exemplo/nbproject/private/
/CalcularFaturamento/nbproject/private/
/CalcularFaturamento/build/
/CalcFat/target/
/dowhile/target/
/Array/target/
/IMCProject/target/
/exerPar/target/
/.metadata/
